textarea {
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  padding: 4px 7px;
  outline: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #202020;
  border: 3px solid #dedede;
  box-sizing: border-box;
}
